.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--brightGreen);
    margin: 0;
    padding: 1rem;

    text-align: center;
    color: var(--darkGreen);
    font-size: 2.5rem;
}

.playerAdded {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--darkGreen);
    border: none;
    margin: 15px;

    max-width: 300px;

    color: var(--lightGreen);
    /* font-weight: bold; */
    font-size: 1rem;
}

.menu_inputField {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;

    font-size: 2rem;
    color: var(--brightGreen);

    margin: 10px 0;
    border-radius: 5px;

}

.menu_playerContaier {
    width: 70%;
    margin: auto;
}