.teamCard_container {
    background-color: var(--darkGreen);
    border-radius: 10px;
    margin: auto;

    width: 40%;
    min-width: 300px;
    max-width: 600px;
    text-align:center;
}

.teamCard_teamName {
    font-size: 32px;
    color: var(--brightGreen);
    padding-top: 2%;
}

.teamCard_playerName {
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--brightGreen);

    width: 50%;
    max-width: 590px;

    
}