@import "./styles/reset.css"; 
@import "./styles/typography.css";
@import "./styles/background.css";
@import "./styles/settings.css";

@import "./styles/menu.css";


@import "./styles/button.css";
@import "./styles/imagery.css";

@import "./styles/teamCard.css";
@import "./styles/playerCard.css";
@import "./styles/matchesCard.css";


.title {
    color: var(--brightGreen);
    background-color: var(--darkGreen);

    text-align: center;
    font-size: 3rem;

    margin-bottom: 2rem;
    padding: 1rem;
}

body {
    text-align: center;
}
